<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<!-- TemplateBeginEditable name="doctitle" -->
<title>Secret Maze</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/font.css" rel="stylesheet" type="text/css">
<link href="css/first_room.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
<div id="story-div">
  <pre class="story-pre">
  *   .                  .            *        .
    ,_,.-'~'-.,__,.-'~'-.,__,.-'-, .       .
  . | Vous croisez deux aliens.. |    .
.    \ Vous discutez longuement   \         .
     / sur l'origine de la matiere/
    |  noire!                    /
  , | Et ils sont bien sympa     |          ,
    | Mais rien d'interessant  ! |              .
    |_,.-'~'-.,__,.-'~'-.,__,.-'~'
  .          o     .                 .
    .         \                   .
              #\##\#     .
            #  #O##\###    .
  .        #*#  #\##\###               .
       .   ##*#  #\##\##          .
     .      ##*#  #o##\#          ,       .
         .     *#  #\#    .
        .-""""-.      \ .-""""-.
       /        \      /        \
      /_        _\    /_        _\
_^/\_// \      / \\__// \      / \\__/\____/|\
 / ^ |\__\    /__/|  |\__\    /__/|   ^^ ^
      \    ||    /    \    ||    /      -
   --- \        /  _-- \        /   ^^ ^
        \  __  /        \  __  / --  ^  ^
  --  __ '.__.' --  ^    '.__.'
          |  |            |  | --  ^  ^
          |  |            |  |
  </pre>
</div>
<div id="revenir-div" >
  <a href="/" class="revenir-pre">
      >      REVENIR_AUX_PORTES        <
  </a>
</div>
<br/>
<br/>
</body>
</html>
