<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<!-- TemplateBeginEditable name="doctitle" -->
<title>Secret Maze</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/font.css" rel="stylesheet" type="text/css">
<link href="css/the_secret_maze.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
<div id="Titre"><pre class="Titre">
<span>
  *   .       -O-    \       ,          .    ,
  _____ _      |   ,  \ .        .   *          .
 |_   _| |__   ___     \________.           .
   | | | '_ \ / _ \    /      _/|
   | | | | | |  __/   /      /  | .   *          .
  _|_| |_| |_|\___|        _/   |   </span><span>
 / ___|  ___  ___ _ __ ___| |_  |________
 \___ \ / _ \/ __| '__/ _ \ __|/        /|    .
  ___) |  __/ (__| | |  __/ |_/        / |
 |____/ \___|\___|_|  \___|\__|_      /  |  </span><span>
                     /   |  \/  | __ _ __|____ .
    ________________/    | |\/| |/ _` |_  / _ \
                    |    | |  | | (_| |/ /  __/\
      *   .         |    |_|  |_|\__,_/___\___| \
o            |   .  |                           |
       .    -O-     ||||________________|||||||||
             |
</span></pre></div>

<div id="first_door" class="doors" ><a href="/first_room" ><pre class="first_door" >

      ______
   ,-' ;  ! `-.
  / :  !  :  . \
 |_ ;   __:  ;  |
 )| .  :)(.  !  |
 |"    (##)  _  |
 |  :  ;`'  (_) (
 |  :  :  .     |
 )_ !  ,  ;  ;  |
 || .  .  :  :  |
 |" .  |  :  .  |
 |___.------.___|</pre></a></div>
<div id="second_door" class="doors" ><a href="/second_room" ><pre class="second_door">

  __________
 |  __  __  |
 | |  ||  | |
 | |  ||  | |
 | |__||__| |
 |  __  __()|
 | |  ||  | |
 | |  ||  | |
 | |  ||  | |
 | |  ||  | |
 | |__||__| |
 |__________|</pre></a></div>
<div id="third_door" class="doors" ><a href="/third_room" ><pre class="third_door">
  ______________
 |\ ___________ /|
 | |  _ _ _ _  | |
 | | | | | | | | |
 | | |-+-+-+-| | |
 | | |-+-+=+%| | |
 | | |_|_|_|_| | |
 | |    ___    | |
 | |   [___] ()| |
 | |         ||| |
 | |           | |
 | |           | |
 |_|___________|_|</pre></a></div>
 <div  id="text"><p class="text">.       *     .      .        Trouve la clef   *   .                 .   +  </p></div>
 <div  id="description"><p class="description">Pour avoir les infos resouds l'enigme</p></div>
</div>
</body>
</html>
