<!doctype html>
<html translate="no">
<head>
<meta charset="UTF-8">
<!-- TemplateBeginEditable name="doctitle" -->
<title>Secret Maze</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/font.css" rel="stylesheet" type="text/css">
<link href="css/meuble_et_clef.css" rel="stylesheet" type="text/css">

</head>

<body>
<div class="container">
<div id="story-div">
  <pre class="story-pre">
*   .                  .            *        .
  ,_,.-'~'-.,__,.-'~'-.,__,.-'-~'-.,__,.--'|
. |                                        |  .
    \   Vous entrez dans une chambre.      \
   /                                       / .
, |_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,..,_|

       ________________  _______________
     .' <a id="key1" href="/take_key">/o \_____</a>     .'               .|
   .'   <a id="key" href="/take_key">\__/-="="`</a>  .'               .' |
 .'_______________.'______________ .'   |
 | ___ _____ ___ || ___ _____ ___ |     |
 ||_=_|__=__|_=_||||_=_|__=__|_=_||     |
 ||_____===_____||||_____===_____||     |
 ||_____===_____||||_____===_____||    .|
 ||_____===_____||||_____===_____||  .' |
 |_______________||_______________|.'   |
 |.-----___-----.||.-----___-----.|     |
 ||_____________||||_____________||     |
 |.-----___-----.||.-----___-----.|     |
 ||_____________||||_____________||     |
 |.-----___-----.||.-----___-----.|     |
 ||_____________||||_____________||     |
 |.-----___-----.||.-----___-----.|     |
 ||             ||||_____________||     |
 ||             |||.-----___-----.|    .'
 ||             ||||             ||  .'o)
 ||_____________||||_____________||.'
 ''------------------------------''
</pre>
</div>
<div id="no-key-div">
  <pre class="no-key-pre">
*   .                  .            *        .
  ,_,.-'~'-.,__,.-'~'-.,__,.-'-~'-.,__,.--'|
. |                                        |  .
    \       Vous volez la clef !!!         \
   /                                       / .
, |_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,..,_|

      ________________  _______________
    .'               .'               .|
  .'               .'               .' |
.'_______________.'______________ .'   |
| ___ _____ ___ || ___ _____ ___ |     |
||_=_|__=__|_=_||||_=_|__=__|_=_||     |
||_____===_____||||_____===_____||     |
||_____===_____||||_____===_____||    .|
||_____===_____||||_____===_____||  .' |
|_______________||_______________|.'   |
|.-----___-----.||.-----___-----.|     |
||_____________||||_____________||     |
|.-----___-----.||.-----___-----.|     |
||_____________||||_____________||     |
|.-----___-----.||.-----___-----.|     |
||_____________||||_____________||     |
|.-----___-----.||.-----___-----.|     |
||             ||||_____________||     |
||             |||.-----___-----.|    .'
||             ||||             ||  .'o)
||_____________||||_____________||.'
''------------------------------''
</pre>
</div>
<script src="scripts/take_key.js"></script>

<div id="revenir-div" >
  <a href="/" class="revenir-pre">
          >  REVENIR_AUX_PORTES <
  </a>
  <br/>
  <br/>
</div>

</body>
</html>
