<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<!-- TemplateBeginEditable name="doctitle" -->
<title>Secret Maze</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/font.css" rel="stylesheet" type="text/css">
<link href="css/second_room.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
</head>
<body>
<div class="container">
<div id="story-div">
  <pre class="story-pre">
    *   .              .       *        .
      ,_,.-'~'-.,__,.-'~'-.,__,.-'-~'-.,__.
    . |                                   |  .
  .    \     Vous vous trouvez face       \
       /   à une porte fermée à clef      / .
      |                                  | 
    , |_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_ |

 8888888888888888888888888888888888888888888888888
 88.._|   | `.  -_-_ _-_  _-  _- -_ -  .'|   |.'88
 88   `-.`!  |`.  -_ -__ -_ _- _-_-  .'  |.;'   88
 88        `;!  ;. _______________ ,'| .-' |   _88
 88..__  ._ | `.| |_______________||."'|  _!.;' 88
 88   |`` |`";.| i|_|MMMMMMMMMMM|_|'| _!-|   |  88
 88   |  .|_ | `;!|l|MMoMMMMoMMM|1|.'j   |_..!-'88
 88   |     |`-,!_|_|MMMMP'YMMMM|_||.!-;'  |    88
 88___|__.,.!,.!,!|d|MMMo * loMM|p|,!,.!.,.!..__88
 88       |  |  | |_|MMMMb,dMMMM|_|| |   |   |  88
 88       |..!-;'i|r|MPYMoMMMMoM|r| |`-..|   |  88
 88      '  | _!,"|_|M<>MMMMoMMM|_||!._|  `i-!..88
 88     _ _."|  !;|1|MbdMMoMMMMM|l|`.| `-._|    88
 88..-i' '|  !-| !|_|MMMoMMMMoMM|_|.|`-. | ``._ 88
 88   |   |.|  !| |u|MoMMMMoMMMM|n||`. |`!   | `88
 88   |  '  |.' |/|_|MMMMoMMMMoM|_|! |`!  `,.|  88
 88  _!"'  .'| .'|[@]MMMMMMMMMMM[@] \|  `. | `._88
 88-'    .|  |/| /                 \|`.  |`!    88
 88       | .' |/                   \  \ |  `.  88
 88     . |/|  /                     \ |`!   |`.88
 88  _.' .' | /                       \|  `  |  88
 88 vanis 8888888888888888888888888888888888888888
  </pre>
</div>

<div id="story2-div" class="story-before">
  <pre class="story-pre">
    *   .              .       *        .
      ,_,.-'~'-.,__,.-'~'-.,__,.-'-~'-.,__.
    . |                                   |  .
  .    \         Silence.....             \
       /                                  / .
    , |_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_ |

 8888888888888888888888888888888888888888888888888
 88.._|   | `.  -_-_ _-_  _-  _- -_ -  .'|   |.'88
 88   `-.`!  |`.  -_ -__ -_ _- _-_-  .'  |.;'   88
 88        `;!  ;. _______________ ,'| .-' |   _88
 88..__  ._ | `.| |_______________||."'|  _!.;' 88
 88   |`` |`";.| i|_|MMMMMMMMMMM|_|'| _!-|   |  88
 88   |  .|_ | `;!|l|MMoMMMMoMMM|1|.'j   |_..!-'88
 88   |     |`-,!_|_|MMMMP'YMMMM|_||.!-;'  |    88
 88___|__.,.!,.!,!|d|MMMo * loMM|p|,!,.!.,.!..__88
 88       |  |  | |_|MMMMb,dMMMM|_|| |   |   |  88
 88       |..!-;'i|r|MPYMoMMMMoM|r| |`-..|   |  88
 88      '  | _!,"|_|M<>MMMMoMMM|_||!._|  `i-!..88
 88     _ _."|  !;|1|MbdMMoMMMMM|l|`.| `-._|    88
 88..-i' '|  !-| !|_|MMMoMMMMoMM|_|.|`-. | ``._ 88
 88   |   |.|  !| |u|MoMMMMoMMMM|n||`. |`!   | `88
 88   |  '  |.' |/|_|MMMMoMMMMoM|_|! |`!  `,.|  88
 88  _!"'  .'| .'|[@]MMMMMMMMMMM[@] \|  `. | `._88
 88-'    .|  |/| /                 \|`.  |`!    88
 88       | .' |/                   \  \ |  `.  88
 88     . |/|  /   > <a id="ouvrir1">Ouvrir Porte</a> <  \ |`!   |`.88
 88  _.' .' | /                       \|  `  |  88
 88 vanis 8888888888888888888888888888888888888888
  </pre>
</div>
<div id="story3-div" class="story-before">
  <pre class="story-pre">
    *   .              .       *        .
      ,_,.-'~'-.,__,.-'~'-.,__,.-'-~'-.,__.
    . |                                   |  .
  .    \         ???????!!!!!!!!!         \
       /                                  / .
    , |_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_ |
 8888888888888888888888888888888888888888888888888
 88.._|   | `.  -_-_ _-_  _-  _- -_ -  .'|   |.'88
 88   `-.`!  |`.  -_ -__ -_ _- _-_-  .'  |.;'   88
 88        `;!  ;. _______________ ,'| .-' |   _88
 88.                                          ' 88
    ██████████████████████████████████████████
  ██                                          ██
██                                              ██
██                                                ██
██  ██     ██    ██████   ██    ██   ██  ██       ██
██  ██     ██  ██         ██    ██   ██  ██       ██
██  ██     ██ ██          ██    ██   ██  ██       ██
██  █████████ ███ ████     ██████    ██  ██       ██
██  ██     ██  ███           ██                   ██
██  ██     ██    ██████      ██      ██  ██      ██
██                                           █
  ██                                       █ ██
    ██████████████████████████████████████     ██
                                                 ██
 88-'    .|  |/| /                 \|`.  |`!    88 ██
 88       | .' |/                   \  \ |  `.  88
 88     . |/|  /                     \ |`!   |`.88
 88  _.' .' | /                       \|  `  |  88
 88 vanis 8888888888888888888888888888888888888888
</pre>
</div>
<div id="story4-div" class="story-before">
  <pre class="story-pre">
    *   .              .       *        .
      ,_,.-'~'-.,__,.-'~'-.,__,.-'-~'-.,__.
    . |                                   |  .
  .    \         ???????!!!!!!!!!         \
       /                                  / .
    , |_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_ |
  8888888888888888888888888888888888888888888888888
  88.._|   | `.  -_-_ _-_  _-  _- -_ -  .'|   |.'88
  88   `-.`!  |`.  -_ -__ -_ _- _-_-  .'  |.;'   88
  88        `;!  ;. _______________ ,'| .-' |   _88
  88..__  ._ | `.| |_______________||."'|  _!.;' 88
╔═══════════════════════════════════════════════════╗





            Un homme arrive......





╚═══════════════════════════════════════════════════╝
  88  _!"'  .'| .'|[@]MMMMMMMMMMM[@] \|  `. | `._88
  88-'    .|  |/| /                 \|`.  |`!    88
  88       | .' |/                   \  \ |  `.  88
  88     . |/|  /                     \ |`!   |`.88
  88  _.' .' | /                       \|  `  |  88
  88 vanis 8888888888888888888888888888888888888888
</pre>
</div>
<div id="story5-div" class="story-before">
  <pre class="story-pre">
    *   .              .       *        .
      ,_,.-'~'-.,__,.-'~'-.,__,.-'-~'-.,__.
    . |                                   |  .
  .    \         ???????!!!!!!!!!         \
       /                                  / .
    , |_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_ |
  8888888888888888888888888888888888888888888888888
  88.._|   | `.  -_-_ _-_  _-  _- -_ -  .'|   |.'88
  88   `-.`!  |`.  -_ -__ -_ _- _-_-  .'  |.;'   88
  88        `;!  ;. _______________ ,'| .-' |   _88
╔═══════════════════════════════════════════════════╗


                                          ,#####,
          Cette clef est a moi !          #_   _#
        Elle êtait dans ma chambre        |a` `a|
        Est-ce toi qui l'a volée ?        |  u  |
                                          \  =  /
                                          |\___/|
                                 ___ ____/:     :\____ ___
                              .'   `.-===-\    /-===-.`    '.
  > <a id="oui">Oui</a> <    > <a id="non">Non</a> <         /       .-"""""-.-"""""-.       \
                            /'              =:=              '\
                          .'  ' .:    o    -=:=-    o    :. '  `.

╚═══════════════════════════════════════════════════╝
  88  _!"'  .'| .'|[@]MMMMMMMMMMM[@] \|  `. | `._88
  88-'    .|  |/| /                 \|`.  |`!    88
  88       | .' |/                   \  \ |  `.  88
  88     . |/|  /                     \ |`!   |`.88
  88  _.' .' | /                       \|  `  |  88
  88 vanis 8888888888888888888888888888888888888888
</pre>
</div>
<div id="story6-div" class="story-before">
  <pre class="story-pre">
    *   .              .       *        .
      ,_,.-'~'-.,__,.-'~'-.,__,.-'-~'-.,__.
    . |                                   |  .
  .    \         ???????!!!!!!!!!         \
       /                                  / .
    , |_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_ |
  8888888888888888888888888888888888888888888888888
  88.._|   | `.  -_-_ _-_  _-  _- -_ -  .'|   |.'88
╔═══════════════════════════════════════════════════╗
                          .--.___.----.___.--._
                         /|  |   |    |   |  | `--.
                        /                          `.
                       |        |        |           |
                                |        |      |     |
  Vous vous faites tuer!        |  `     |    ` |     |
                             `  |      ` |      |   ` |
                      ' |  `    | ` ` `  |  ` ` |  `  |
                      | |`   `  |     `  |   `  |`   `|
                      | |  `    |  `     | `    |  `  |
                      | |    `  |   ` `  |    ` | `  `|
                      | | `     | `      | ` `  |  `  |
                      | |  ___  |  ____  |  __  |  _  |
 +-+-+-+-+ +-+-+-+-+  | \_____/ \______/ \____/ \___/
 <a id="game_over">|G|a|m|e| |o|v|e|r|</a>
 +-+-+-+-+ +-+-+-+-+  |    /       \
                      |         .--.\
>  <a id="restart">Revenir a la porte</a> <
                      `.     |   _.-'
                        `.|__.-'
╚═══════════════════════════════════════════════════╝
  88     . |/|  /                     \ |`!   |`.88
  88  _.' .' | /                       \|  `  |  88
  88 vanis 8888888888888888888888888888888888888888
</pre>
</div>
<div id="story7-div" class="story-before">
  <pre class="story-pre">
    *   .              .       *        .
      ,_,.-'~'-.,__,.-'~'-.,__,.-'-~'-.,__.
    . |                                   |  .
  .    \         ???????!!!!!!!!!         \
       /                                  / .
    , |_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_ |
  8888888888888888888888888888888888888888888888888
  88.._|   | `.  -_-_ _-_  _-  _- -_ -  .'|   |.'88
  88   `-.`!  |`.  -_ -__ -_ _- _-_-  .'  |.;'   88
  88        `;!  ;. _______________ ,'| .-' |   _88
  88..__  ._ | `.| |_______________||."'|  _!.;' 88
╔═══════════════════════════════════════════════════╗


                                          ,#####,
                                          #_   _#
        J'aime ton honnêtete !            |T' 'T|
        Tu peux la garder !               |  u  |
                                          \ 'U' /
                                          |\___/|
                                 ___ ____/:     :\____ ___
                              .'   `.-===-\    /-===-.`    '.
  > <a id="open">Ouvrir la porte</a> <        /       .-"""""-.-"""""-.       \
                            /'              =:=              '\
                          .'  ' .:    o    -=:=-    o    :. '  `.

╚═══════════════════════════════════════════════════╝
  88  _!"'  .'| .'|[@]MMMMMMMMMMM[@] \|  `. | `._88
  88-'    .|  |/| /                 \|`.  |`!    88
  88       | .' |/                   \  \ |  `.  88
  88     . |/|  /                     \ |`!   |`.88
  88  _.' .' | /                       \|  `  |  88
  88 vanis 8888888888888888888888888888888888888888
</pre>
</div>

<div id="story8-div" class="story-before">
  <pre class="story-pre">
    *   .              .       *        .
      ,_,.-'~'-.,__,.-'~'-.,__,.-'-~'-.,__.
    . |                                   |  .
  .    \    La porte s'est ouverte        \
       /                                  / .
    , |_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_ |


    8888888888888888888888888888888888888888888888888
    88.._|   | `.  -_-_ _-_  _-  _- -_ -  .'|   |.'88
    88   `-.`!  |`.  -_ -__ -_ _- _-_-  .'  |.;'   88
    88        `;!  ;. _______________ ,'| .-' |   _88
    88..__  ._ | `.| |_______________||."'|  _!.;' 88
    88   |`` |`";.| i|_|           |_|'| _!-|   |  88
    88   |  .|_ | `;!|l|           |1|.'j   |_..!-'88
    88   |     |`-,!_|_|           |_||.!-;'  |    88
    88___|__.,.!,.!,!|d|           |p|,!,.!.,.!..__88
    88       |  |  | |_|           |_|| |   |   |  88
    88       |..!-;'i|r|           |r| |`-..|   |  88
    88      '  | _!,"|_|           |_||!._|  `i-!..88
    88     _ _."|  !;|1|           |l|`.| `-._|    88
    88..-i' '|  !-| !|_|           |_|.|`-. | ``._ 88
    88   |   |.|  !| |u|           |n||`. |`!   | `88
    88   |  '  |.' |/|_|    / \     |_|! |`!  `,.|  88
    88  _!"'  .'| .'|[@]   / | \   [@] \|  `. | `._88
    88-'    .|  |/| /        |        \|`.  |`!    88
    88       | .' |/         |          \  \ |  `.  88
    88     . |/|  /     > <a id="enter">Entrer</a>  <     \ |`!   |`.88
    88  _.' .' | /                       \|  `  |  88
    88 vanis 8888888888888888888888888888888888888888
  </pre>
</div>

<div id="story9-div" class="story-before">
  <pre class="story-pre">
  *   .              .       *        .
    ,_,.-'~'-.,__,.-'~'-.,__,.-'-~'-.,__.
  . |                                   |  .
.    \  Vous entrez dans une pièce....  \
     /                                  / .
  , |_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_ |

           \                      /
            \                    /
             \                  /
              \                /
               \              /
                \            /
                 \          /
                  \________/
                    _ (#) _
                  _| .nHn._|__
                 /   HHHHH.  \
                /    `HH("N   \
               /      HHH  "   \
              /       NNN       \
             /        N/"        \
            /         N H         \
           /          N            \
          /           q ,           \

  </pre>
</div>
<div id="story10-div" class="story-before">
  <pre class="story-pre">
   *   .              .       *        .
     ,_,.-'~'-.,__,.-'~'-.,__,.-'-~'-.,__.
   . |                                   |  .
 .    \   Dans cet espace vide           \
      /   il n'y a qu'une télévision...  / .
   , |_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_ |

                     o
                o    |
                 \   |
                  \  |
                   \.|-.
                   (\|  )
        .==================.
        | .--------------. |
        | |              | |
        | |              | |
        | |              | |
        | |              | |
        | |              | |
        | '--------------'o|
    jgs | LI LI """""""   o|
        '=================='

       > <a id="tv">Allumer TV</a> <
  </pre>
</div>

<div id="story11-div" class="story-before">
  *   .              .       *        .
    ,_,.-'~'-.,__,.-'~'-.,__,.-'-~'-.,__.
  . |                                   |  .
.    \                                  \
     /                                  / .
  , |_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_ |

                     o
                o    |
                 \   |
                  \  |
                   \.|-.
                   (\|  )
        .==================.
        | .--------------. |
        | |              | |
        | |              | |
        | |              | |
        | |              | |
        | |--.__.--.__.--| |
        | '--------------'o|
    jgs | LI LI """""""   o|
        '=================='


  </pre>
</div>
<div id="story12-div" class="story-before">
  <pre class="story-pre">
    *   .              .       *        .
      ,_,.-'~'-.,__,.-'~'-.,__,.-'-~'-.,__.
    . |                                   |  .
  .    \                                  \
       /                                  / .
    , |_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_ |

                     o
                o    |
                 \   |
                  \  |
                   \.|-.
                   (\|  )
        .==================.
        | .--------------. |
        | |              | |
        | |              | |
        | |              | |
        | |--.__.--.__.--| |
        | |--.__.--.__.--| |
        | '--------------'o|
    jgs | LI LI """""""   o|
        '=================='


  </pre>
</div>
<div id="story13-div" class="story-before">
  <pre class="story-pre">
    *   .              .       *        .
      ,_,.-'~'-.,__,.-'~'-.,__,.-'-~'-.,__.
    . |                                   |  .
  .    \                                  \
       /                                  / .
    , |_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_ |

                     o
                o    |
                 \   |
                  \  |
                   \.|-.
                   (\|  )
        .==================.
        | .--------------. |
        | |              | |
        | |              | |
        | |--.__.--.__.--| |
        | |--.__.--.__.--| |
        | |--.__.--.__.--| |
        | '--------------'o|
    jgs | LI LI """""""   o|
        '=================='


  </pre>
</div>
<div id="story14-div" class="story-before">
  <pre class="story-pre">
    *   .              .       *        .
      ,_,.-'~'-.,__,.-'~'-.,__,.-'-~'-.,__.
    . |                                   |  .
  .    \                                  \
       /                                  / .
    , |_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_ |

                     o
                o    |
                 \   |
                  \  |
                   \.|-.
                   (\|  )
        .==================.
        | .--------------. |
        | |              | |
        | |--.__.--.__.--| |
        | |--.__.--.__.--| |
        | |--.__.--.__.--| |
        | |--.__.--.__.--| |
        | '--------------'o|
    jgs | LI LI """""""   o|
        '=================='


  </pre>
</div>
<div id="story15-div" class="story-before">
  <pre class="story-pre">
    *   .              .       *        .
      ,_,.-'~'-.,__,.-'~'-.,__,.-'-~'-.,__.
    . |                                   |  .
  .    \                                  \
       /                                  / .
    , |_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_ |

                     o
                o    |
                 \   |
                  \  |
                   \.|-.
                   (\|  )
        .==================.
        | .--------------. |
        | |--.__.--.__.--| |
        | |--.__.--.__.--| |
        | |--.__.--.__.--| |
        | |--.__.--.__.--| |
        | |--.__.--.__.--| |
        | '--------------'o|
    jgs | LI LI """""""   o|
        '=================='


  </pre>
</div>
<div id="story16-div" class="story-before">
  <pre class="story-pre">
    *   .              .       *        .
      ,_,.-'~'-.,__,.-'~'-.,__,.-'-~'-.,__.
    . |                                   |  .
  .    \                                  \
       /                                  / .
    , |_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_ |

                     o
                o    |
                 \   |
                  \  |
                   \.|-.
                   (\|  )
        .==================.
        | .--------------. |
        | |--.__.--.__.--| |
        | |--.__.--.__.--| |
        | |--.__.--.__.--| |
        | |--.__.--.__.--| |
        | |--.__.--.__.--| |
        | '--------------'o|
    jgs | LI LI """""""   o|
        '=================='


  </pre>
</div>
<div id="story17-div" class="story-before">

  <pre class="story-pre">
    *   .              .       *        .
      ,_,.-'~'-.,__,.-'~'-.,__,.-'-~'-.,__.
    . |                                   |  .
  .    \                                  \
       /                                  / .
    , |_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_ |

                 o
            o    |
             \   |
              \  |
               \.|-.
               (\|  )
  .============================================.
  | .----------------------------------------. |
  | |                                        | |
  <video id="video" autoplay="autoplay"><source src="/trailer.mp4" type="video/mp4" /></video><a id="info">       >Comment venir a l'evenement ?<      </a>
  | |                                        | |
  | '----------------------------------------'o|
  | LI LI """""""                             o|
  '============================================'


  </pre>
</div>



<div id="info-div" class="story-before">
  <pre class="story-pre">
     .-.     .-.     .-.     .-.     .-.     .-.     .-.     .-.     .-.
   .'   `._.'   `._.'   `._.'   `._.'   `._.'   `._.'   `._.'   `._.'   `.
  (    .     .-.     .-.     .-.     .-.     .-.     .-.     .-.     .    )
   `.   `._.'   `._.'   `._.'   `._.'   `._.'   `._.'   `._.'   `._.'   .'
     )    )                                                       (    (
   ,'   ,'                                                         `.   `.
  (    (              Expo interactive et secrete                    )    )
   `.   `.            - Labyrinthe                                 .'   .'
     )    )           - live salle de danse interactive           (    (
   ,'   ,'            - Music :                                    `.   `.
  (    (                       line up:                              )    )
   `.   `.                       - Max                             .'   .'
     )    )                      - Jourdan                        (    (
   ,'   ,'                       - Cherry                         `.   `.
  (    (                                                             )    )
   `.   `.            Address: 101 avenue gaston Roussel           .'   .'
                Envoie ton numero et ton nom pour qu'on
                          t'envoie les infos
      <form id="form" action="/submit_add_custumer" method="get">
      <input type="text" id="name" name="name" value="Nom et prenom"><br>
      <input type="text" id="number" name="number" value="06 43 31 34 25"><br>
      <input type="submit" id="submit" value="Submit">
    </form>
      <p id="merci" style="display: none;">            Bonne note a été prise de votre inscription</p>
     )    )       _       _       _       _       _       _       (    (
   ,'   .' `.   .' `.   .' `.   .' `.   .' `.   .' `.   .' `.   .' `.   `.
  (    '  _  `-'  _  `-'  _  `-'  _  `-'  _  `-'  _  `-'  _  `-'  _  `    )
   `.   .' `.   .' `.   .' `.   .' `.   .' `.   .' `.   .' `.   .' `.   .'
     `-'     `-'     `-'     `-'     `-'     `-'     `-'     `-'     `-'

  </pre>
</div>
<div id="revenir-div" >
  <a href="/" class="revenir-pre">
                   >   REVENIR_AUX_PORTES  <
  </a>
  <br/>
  <br/>
</div>
<script src="scripts/second_door.js"></script>

</body>
</html>
