<!doctype html>
<html translate="no">
<head>
<meta charset="UTF-8">
<!-- TemplateBeginEditable name="doctitle" -->
<title>Secret Maze</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/font.css" rel="stylesheet" type="text/css">
<link href="css/third_room.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
<div id="story-div">
  <pre class="story-pre">
  *   .                  .            *        .
    ,_,.-'~'-.,__,.-'~'-.,__,.-'-~'-.,__,.-'-,_,-'|
  . | Oh ca mene a une autre chambre !!!!!!!      |  .
.    \ Ca se trouve il y a une clef dans ce meuble\
     / Allons voir !                              / .
  , |_,.-'~'-.,__,.-'~'-.,__,.-'~'-.,__,.-'~'-.,_|
           _I_
         .~'_`~.
   /(  ,^ .~ ~. ^.  )\
   \ \/ .^ |   ^. \/ /
    Y  /   |     \  Y            ___.oOo.___
    | Y    |      Y |           |           |
    | |    |      | |           |           |
    | |   _|___   | |           |           |
    | |  /____/|  | |           |           |
    |.| |   __/|__|.|           |           |
    |.| |   __/|  |.|          _|___________|_
    |:| |   __//  |:|         '^^^^^^^^^^^^^^^`
    |:| |_____/   |:|
____|_|/   <a>.'/ `.</a> |_|_____________________________
____]H   <a>'  / /  `</a>|H[_____________________________
     /     <a>| |</a>     \
    /  >  <a href="/meuble_et_clef" class="enter">Entrer</a>  < \
  </pre>
</div>
<br/>
<br/>
<div id="revenir-div" >
  <a href="/" class="revenir-pre">
         >    REVENIR_AUX_PORTES     <
  </a>
  <br/>
  <br/>
</div>

</body>
</html>
