@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	text-decoration-color: green;
	color:#008F11;
	width: auto;
	height: auto;
}

a {
  text-decoration:none;
	decoration: none;
	color: green;
}

a:hover {
    text-decoration:none;
    cursor:pointer;
}


#info{
	display: none;
}
#video {
	position: relative;
	display: none;
	top: 44%;
	left: 6%;
	width: 70%;
	height:40%;
}

.story-pre {
	color:floralwhite;
	font-size:  1.6em ;
}

.story-before {
	display: none;
}

.container {
	width: 100%;
	resize:both;
	overflow:auto;
}

.text {
	margin: 16px;
	margin-top: 16px;
	font-size: 1.4em;
	text-align: center;
}

#story-div, .story-before{
	margin-left: 7%;
  margin-top: 20%;
}

.revenir-pre {
	margin: 16px;
	margin-top: 60px;
	margin-left: 8%;
	margin-bottom: 10%;

	font-size: 1.4em;
	text-align: left;
	font-family: game_over;
	letter-spacing: -5px;
}

#revenir-div {
	margin-top: 15%;
	margin-left: 13%;
}

.revenir-pre:hover, .revenir-pre:active{
	color: yellow;
}
#game_over{
	color: green;
}
#ouvrir1:hover, #ouvrir1:active,
#oui:hover, #oui:active ,
#non:hover, #non:active ,
#restart:hover, #restart:active,
#open:hover, #open:active,
#enter:hover, #enter:active,
#tv:hover, #tv:active,
#info:hover, #info:active{
	color: yellow;
}


.third_door:hover, .third_door:active{
	color: yellow;
}

@media only screen and (max-width:360px) {
.story-pre {
	font-size:  .7em ;
}
	.revenir-pre {
		font-size: 0.9em;
	}
	/* #video {
		top: 40%;
		left: 22%;
		width: 200px;
		height:140px;
	} */
}
@media only screen and (min-width:360px) and (max-width:414px){
	.story-pre {
		font-size:  .8em ;
	}
		.revenir-pre {
			font-size: 1em;
		}
		/* #video {
			top: 43%;
			left: 19%;
			width: 230px;
			height: 200px;
		} */
		@media only screen and (max-height:842px)
		and (min-height:731px){
			/* #video {
				top: 34%;
				left: 18%;
				width: 240px;
				height: 200px;
			} */
		}

		@media only screen and (max-height:731px)
		and (min-height:612px){
			/* #video {
				top: 41%;
				left: 18%;
				width: 240px;
				height: 200px;
			} */
		}
}
@media only screen and (max-width:570px)
and (min-width:414px){
	.story-pre {
		font-size:  .9em ;
	}
	.revenir-pre {
		font-size: 1.1em;
	}
	/* #video {
		top: 42%;
		left: 19%;
		width: 260px;
		height: 200px;
	} */
}


@media only screen and (max-width:970px)
and (min-width:570px){
	.story-pre {
		font-size:  1.3em ;
	}
	.revenir-pre {
		font-size: 1.6em;
	}
}

@media only screen and (min-width:970px){
	.story-pre {
		font-size:  1.2em ;
	}
	.container {
		width: 100%;
	}
	#story-div, .story-before {
			margin-left: 2%;
		  margin-top: 3%;
	}

	#revenir-div {
		margin-top: 2%;
		margin-left: 2%;
	}
	#video {
		position: relative;
		display: none;
		top: 44%;
		left: 2%;
		width: 30%;
		height:10%;
	}

}
